* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.a {
    background: rgb(9, 121, 120);
    background: linear-gradient(90deg,
            rgba(9, 121, 120, 1) 0%,
            rgba(0, 212, 255, 1) 68%);
    height: 100vh;
}

.form-field {
    width: 400px;
    height: 500px;
    background: transparent;
    box-shadow: 0 0 20px rgb(150, 150, 240);
    margin: 20px auto;
    border-radius: 10px 100px 100px 10px;
    position: relative;
    overflow: hidden;
}

.main {
    width: 100%;
    height: 100%;
    background: transparent;
    box-shadow: 0 0 30px black;
    margin: 20px auto;
    border-radius: 90px;
    position: absolute;
    top: -20px;
    left: 0;
    z-index: 1;
}

#one {
    background: rgba(230, 230, 230, 0.7);
    width: 400px;
    height: 400px;
    position: absolute;
    top: 50px;
    left: -200px;
    transform: rotate(45deg);
    border-radius: 100px;
    z-index: -1;
}


.Button {
    display: block;
    padding: 12px 10px;
    background: transparent;
    border: none;
    outline: none;
    box-shadow: 0 0 5px rgb(100, 100, 230);
    margin: 20px;
    width: 100px;
    border-radius: 5px;
}

#two {
    width: 10px;
    height: 10px;
    background: transparent;
    border-radius: 50%;
    box-shadow: inset -1px -2px rgba(230, 230, 230, 0.8), 1px 0 3px;
    position: absolute;
    bottom: 20px;
    right: 30px;
    animation: bubble1 20s ease infinite;
}

.margin {
    margin-top: 100px;
}

@keyframes bubble1 {
    0% {
        position: absolute;
        bottom: 20px;
        right: 30px;
    }

    100% {
        position: absolute;
        bottom: 500px;
        right: 50px;
        width: 20px;
        height: 20px;
        box-shadow: inset -1px -2px 5px rgba(230, 230, 230, 0.8), 1px 0 3px;
    }
}